<mat-card>
    <mat-card-header>
      <section>
        <div mat-card-avatar class="header-image"></div>
        <div class="mat-card-container">
          <mat-card-title>Personality Test Quiz</mat-card-title>
          <mat-card-subtitle class="center-text">
            <span class="subtitle1">What type of personality do you have?</span> <br>
            <span class="subtitle2">Take the quiz and find out!</span>
          </mat-card-subtitle>
        </div>
      </section>
      <div mat-card-image class="quiz-topic-img"></div>
    </mat-card-header>
  
    <mat-card-content>
      <p>This awesome quiz is designed to figure out what type of personality you have. <br>
    Choose between multiple choices for scenarios that suit you the most!</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="button" disableRipple="false" (click)="startQuiz()">Start the Quiz!</button>
    </mat-card-actions>
  </mat-card>
  